.button.is-primary,
.menu-list a.is-active {
  background-color: #363636;
}

.switch input[type=checkbox]:checked + .check {
  background: #363636;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #363636;
}

.pagination-link.is-current {
  background-color: #363636;
  border-color: #363636;
}

.input:focus, .taginput .taginput-container.is-focusable:focus, .input.is-focused, .taginput .is-focused.taginput-container.is-focusable, .input:active, .taginput .taginput-container.is-focusable:active, .input.is-active, .taginput .is-active.taginput-container.is-focusable, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
  border-color: #363636;
}

.select select:focus, .select select.is-focused, .select select:active, .select select.is-active {
  border-color: #363636;
}
